$primaryBlue: hsl(225, 100%, 94%);
$primaryBrightBlue: hsl(245, 75%, 52%);
$primaryBrightBlueHover: hsl(245, 83%, 68%);
$neutralPaleBlue: hsl(225, 100%, 98%);
$neutralDesatBlue: hsl(224, 23%, 55%);
$neutralBlue: hsl(223, 47%, 23%);
$white: hsl(0, 0, 100%);